body {
    color: hsl(241, 100%, 89%);
    font-family: 'Hanken Grotesk', sans-serif;
    text-align: center;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

button {
    color: hsl(241, 100%, 89%);
    font-family: 'Hanken Grotesk', sans-serif;
}

h1 {
    font-size: 4rem;
    margin: 15px auto 0;
}

h1, h2 {
    color: white;
}

img {
    float: left;
    margin: auto 10px auto auto;
}

#container {
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 450px;
    width: 45%;
}

.result {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 25px;
    float: left;
    padding: 25px 60px;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
}

.result-circle {
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
    width: 175px;
    height: 175px;
}

.result-circle p {
    margin: 0 auto;
}

.summary {
    color: black;
    float: right;
    padding: 30px 20px;
    box-sizing: border-box;
    text-align: left;
    width: 50%;
    height: 100%;
}

.stats {
    margin: 25px 0;
    padding: 0 5px;
}

.stats p {
    display: inline-block;
}

.stat-result {
    color: grey;
    float: right;
}

.stat-result span {
    color: black;
    font-weight: 800;
}

.stat-box {
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: 800;
    padding: 1px 15px;
    margin: 10px 0;
}

.reaction {
    background-color: hsl(0, 100%, 67%, 0.05);
    color: hsl(0, 100%, 67%);
}

.memory {
    background-color: hsl(39, 100%, 56%, 0.05);
    color: hsl(39, 100%, 56%);
}

.verbal {
    background-color: hsl(166, 100%, 37%, 0.05);
    color: hsl(166, 100%, 37%);
}

.visual {
    background-color: hsl(234, 85%, 45%, 0.05);
    color: hsl(234, 85%, 45%);
}

.button {
    border-radius: 25px;
    color: white;
    background-color: hsl(224, 30%, 27%);
    margin: 15px auto;
    padding: 15px 10px;
    width: 100%;
}

.button:hover {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.attribution { color: black; font-size: 11px;}

.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 1100px) {

    #container {
        margin: 0;
        width:100%;
        height:100%;
    }

    .result {
        box-sizing: border-box;
        padding: 5px 40px 25px;
        height:auto;
        width:100%;
    }

    .result-circle {
        padding: 5px;
        box-sizing: border-box;
        width: 125px;
        height: 125px;
    }

    .result-circle h1 {
        font-size: 3rem;
    }

    .summary {
        padding: 0 20px;
        width: 100%;
    }

    .button {
        font-size: 1rem;
    }
}